betterproto==1.2.5
certifi==2021.10.8
charset-normalizer==2.0.9
colorama==0.4.4
grpclib==0.4.2
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
lxml==4.7.1
multidict==5.2.0
ping3==3.0.2
pyee==8.2.2
qrcode==7.3.1
requests==2.26.0
stringcase==1.2.0
ujson==4.3.0
urllib3==1.26.7
wechaty==0.8.25
wechaty-grpc==0.20.19
wechaty-puppet==0.3.dev10
wechaty-puppet-service==0.8.5
